[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/toml11"]
	path = ext/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "ext/GLSL-Include"]
	path = ext/GLSL-Include
	url = https://github.com/soyszala/GLSL-Include.git
[submodule "ext/nameof"]
	path = ext/nameof
	url = https://github.com/Neargye/nameof.git
[submodule "ext/freetype"]
	path = ext/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
