[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/toml11"]
	path = ext/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "ext/GLSL-Include"]
	path = ext/GLSL-Include
	url = https://github.com/Flone-dnb/GLSL-Include.git
[submodule "ext/nameof"]
	path = ext/nameof
	url = https://github.com/Neargye/nameof.git
[submodule "ext/freetype"]
	path = ext/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "ext/tracy"]
	path = ext/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "ext/SFML"]
	path = ext/SFML
	url = https://github.com/SFML/SFML.git
[submodule "ext/utfconv"]
	path = ext/utfconv
	url = https://github.com/mbits-libs/utfconv
[submodule "ext/ozz-animation"]
	path = ext/ozz-animation
	url = https://github.com/Flone-dnb/ozz-animation.git
[submodule "ext/subprocess.h"]
	path = ext/subprocess.h
	url = https://github.com/sheredom/subprocess.h.git
[submodule "ext/JoltPhysics"]
	path = ext/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "ext/angelscript"]
	path = ext/angelscript
	url = https://github.com/anjo76/angelscript.git
[submodule "ext/cpptrace"]
	path = ext/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
